h2{
    color: #e22b32;
    font-family: "Rockwell",monospace;
    font-size: 33px;
    line-height: [h1-line-height];
    margin-bottom: 10px;
    font-weight: normal;
}

.footer{
    background-color:#fff;
    padding-bottom: 2%;
    padding-top: 4%;
}

.navbar-inner{
    margin-bottom: 0px!important;
}